<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="LogFile" value="C:\Users\lan\Source\Repos\OrionFelt\OrionLag\Bin\Debug\logService.txt"/>
    <add key="LeonInputDir" value="C:\Orion2\Data\Felt\LeonInput"/>
    <add key="OrionInputDir" value="C:\Orion2\Data"/>
    <add key="Database" value="C:\Orion2\Data\Felt\Database"/>
    <add key="AntallHold" value="6"/>
    <add key="AntallSkiver" value="12"/>
    <add key="AntallSkyttereILaget" value="2"/>
    <add key="Avbrekk" value="false"/>
    <add key="OrionHoldId" value="1"/>

  </appSettings>
</configuration>
