<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="LogFile" value="C:\Users\lan\Source\Repos\OrionFelt\OrionLag\Bin\Debug\logService.txt"/>
    <add key="FinFeltDatabase" value="C:\Orion2\Data\Felt\FinfeltDb"/>
    <add key="LeonInputDir" value="C:\Orion2\Data\Felt\FinfeltDb"/>
    <add key="OrionInputDir" value="C:\Orion2\Data"/>
    <add key="Database" value="C:\Orion2\Data\Database"/>
    
  </appSettings>
</configuration>
