<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="InputDataPath" value="C:\Orion2\Data\Felt"/>
    <add key="OppRopDataPath" value="C:\Orion2\Data\Felt\test"/>
    <add key="LogFile" value="C:\Users\lan\Source\Repos\OrionFelt\OrionLag\Bin\Debug\log.txt"/>
    <add key="Database" value="C:\Orion2\Data\Felt\Database"/>
    <add key="FinFeltDatabase" value="C:\Orion2\Data\Felt\FinfeltDb"/>
    <add key="GrovFeltDatabase" value="C:\Orion2\Data\Felt\GrovfeltDb"/>
    <add key="LeonFormatXsltFile" value="C:\Users\lan\Source\Repos\OrionFelt\OrionLag\Server\OrionLag.Server\Xslt\LeonFormat.xslt"/>
    <add key="ExportDirLeonFormat" value="C:\Orion2\Data\Felt\FinfeltDb\Leon"/>
    <add key="AntallHold" value="6"/>
    <add key="AntallSkiver" value="12"/>
    <add key="AntallSkyttereILaget" value="2"/>
    <add key="Avbrekk" value="false"/>
    <add key="OrionHoldId" value="1"/>
  </appSettings>
</configuration>
